<head>
	<title>About Us</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<style type="text/css">
		body{
			margin-top:70px;
			background-image: url(https://i.pinimg.com/originals/54/5c/7c/545c7ca5f72fa1115249121f2ddf4cee.jpg);
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
		}
		.mv{
			color:white;
			text-align: center;
			font-family: 'Fredericka the Great', cursive;
			font-size: 75px;
		}
		#heading{
			font-family: 'Fredericka the Great', cursive;
			font-size: 80px;
			text-align: center;
			color:white;
		}
		.quote{
			color:rgb(0, 192, 16);
		}
		.lead{
			color:white;
			text-align: center;
			padding-bottom:50px;
			font-family: 'Montserrat', sans-serif;
		}
	</style>
</head>
<body>
    {% extends 'Pet2Vet/base.html' %}
    {% block body %}
	<div class="container">
		<div class="row mid">
			<h1 id="heading" style="color:rgb(224, 248, 10);">About Us</h1>
		</div>
	</div>
	<hr style="width:800px">

	<div class="container" id="tabs-1">
		<div class="mv">
        	<span><h1 style="color:rgb(224, 248, 10);">Genesis</h1></span>
        	<hr style="width:100px;">
        </div>
		<p style="font-size:25px;"><i><h2 style="text-align:center;" class="quote">"We can't help everyone, but everyone can help someone."</h2></i></p>

		<p><h3 class="lead">Pet2Vet is a non-profit organization that initiates, develops and manages adoption, first aid care, and other pet care projects across India. We work with an ambitious goal to reach out to every animal/ bird on this planet.</h3></p>
	</div>

	    <div id="tabs-2" class="container">
        <div class="mv">
        	<span><h1 style="color:rgb(224, 248, 10);">Our Mission & Our Vision</h1></span>
        	<hr style="width:400px;">
        </div>
        <p>&nbsp;</p>
        <table width="1100" border="0">
            <tr>
                <td width="380" class="lead" style="vertical-align:top;"><span style=" text-align: justify;
    			text-justify: inter-word;">
    				Pet2Vet is on the mission to create a safer, healthy environment for every animal/bird, because every living being deserve love and care. To spread the awareness about this, we conduct various campaigns at locations as far as we can reach. We provide free training for those who are willing to volunteer our cause.
						<br><br>
					We at Pet2vet aspire to bring animal-healthcare closer through technology. We provide people an online platform to choose and pet their desired beasts, and to be benefitted by veterinary practices. We endeavour to provide convenience, transparency and clarity through our technology platforms.</span>
				</td>
                <td width="40">&nbsp;</td>
                <td width="380" class="lead" style="vertical-align:top;"><span style=" text-align: justify;
    			text-justify: inter-word;">
			    	Our vision is to develop a world where all pets and their owners receive caring, compassionate petcare-services in the comfort of their home.

					. We intend to create a world where every animal gets the necessary care in their helpless times, which would create a repository for a rich species-diverse planet.
			<br><br>
					We are working towards creating a just and sustainable society. To take a step ahead, we invite more corporates and individuals to partner with us in initiatives that make a tangible difference to the global awareness of pet-care.</span>
			 </td>
            </tr>
        </table>
        </p>
    </div>

<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
{% endblock %}