<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand"><i class="fa fa-paw"></i> Pet2Vet</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class=""><a href="http://127.0.0.1:8000/Pet2Vet">Home</a></li>
          <li class=""><a href="http://127.0.0.1:8000/Pet2Vet/about">About</a></li>
          <li class=""><a href="http://127.0.0.1:8000/Pet2Vet/ngo">NGO 4 Pets</a></li>
          <li class=""><a href="http://127.0.0.1:8000/Pet2Vet/doctors">Vets4Pets</a></li>
          <li class=""><a href="http://127.0.0.1:8000/Pet2Vet/adopt">Pets2Adopt</a></li>
          <li class=""><a href="http://127.0.0.1:8000/Pet2Vet/firstaid">FirstAid</a></li>
          <li class=""><a href="http://127.0.0.1:8000/Pet2Vet/location">Vets near me</a></li>
          <li class=""><a href="http://127.0.0.1:8000/Pet2Vet/contact">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://127.0.0.1:8000/Pet2Vet/donate/entry">Donate</a></li>
        </ul>
      </div>
    </div>
  </nav>
  {% block body %}
  {% endblock %}