<head>
	<title>Veterinary</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<style type="text/css">
		body{
			margin-top:70px;
			background-image: url(https://i.pinimg.com/originals/54/5c/7c/545c7ca5f72fa1115249121f2ddf4cee.jpg);
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
		}
		#heading {
				font-family: 'Fredericka the Great', cursive;
				font-size: 100px;
				color:white;
			}
		h2 {
				font-family: 'Fredericka the Great', cursive;
				color:white;
			}
		p {
				color:white;
				font-family: 'Montserrat', sans-serif;
			}
	</style>
</head>
<body>
{% extends 'Pet2Vet/base.html' %}
{% block body %}

<div class="container">
		<h1 id="heading">NGOs</h1>
			<div class="row">
				<div class="col-sm-6">
					<h2>F.I.A.P.O</h2>
					<p>
						<strong>Location: </strong>E-18A, Block E, East of Kailash, New Delhi, Delhi 110048<br>
            <strong>Contact: </strong>011 4107 2945<br>

            <div class="button">
                <a href="http://fiapo.org/volunteer/ class="btn btn-one">Register Here</a>
                <a href="http://fiapo.org/donate/" class="btn btn-two"> Donate Here</a>
            </div>
 					</p>
				</div>
				<div class="col-sm-6">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3504.416704046125!2d77.2393478148989!3d28.55724719423553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce3b55bef77f5%3A0x7796fff8850d3261!2sFIAPO+(Federation+of+Indian+Animal+Protection+Organisations)!5e0!3m2!1sen!2sin!4v1552737077208" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-6" color= white>

					<p>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.046956806766!2d72.83211451474358!3d19.061672957376466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c91670cf6daf%3A0xdff17ab8bea48aaa!2sPaws+N+Furs!5e0!3m2!1sen!2sin!4v1552734225935" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

					</p>
				</div>
				<div class="col-sm-6" >
          <font color="white">
          <h2>People For Animal</h2>
          <strong>Location: </strong>487 Cama Village, Andheri West, Mumbai, Maharashtra 400050<br>
          <strong>Contact: </strong>094678 85738<br>
          <div class="button">
              <a href="https://peopleforanimalsindia.us20.list-manage.com/subscribe?u=5ca496d3567662bd326765768&id=6b07479e34" class="btn btn-one">Register Here</a>
              <a href="https://www.peopleforanimalsindia.org/donate.php" class="btn btn-two"> Donate Here</a>
          </div>

          </font>
				</div>
			</div>
			<hr>
        <div class="row">
				<div class="col-sm-6">
					<h2>Help Animals India</h2>
					<p>
						<strong>Location: </strong>Sandesh Nagar, Bail Bazar, Mumbai, Maharashtra 400099<br>
            <strong>Contact: </strong>093246 24543<br>

            <div class="button">
                <a href="https://helpanimalsindia.org/signup" class="btn btn-one">Register Here</a>
                <a href="https://helpanimalsindia.org/donate" class="btn btn-two"> Donate Here</a>
            </div>
 					</p>
				</div>
				<div class="col-sm-6">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.461408038562!2d72.87893111474395!3d19.087403756574368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c86189ff5f1f%3A0xaf32091295377712!2sSai+Vet+Clinic%2C+Dr.+Chinmay+On+Call+Vet!5e0!3m2!1sen!2sin!4v1552734540191" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
		</div>


	</div>
<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
{% endblock %}